---
const { url, title, author, description, date, draft, coverImage } = Astro.props;
---

<li class="mb-4">
  
  <a href={url} class="block">
    {coverImage && (
      <img class="cover-image" src={coverImage} alt={title}/>
    )}
    <h1 class="title">{title}</h1>
  </a>

  <h2 class="description">{description}</h2>
  <h3 class="published">Published on {date}</h3>
  <h3 class="author">by {author}</h3>
</li>
