---
const { url, title, author, description, date, draft, coverImage } = Astro.props;
---

<li class="mb-4">
  
  <a href={url} class="block">
    {coverImage && (
      <img class="w-full h-64 object-cover mb-2 rounded" src={coverImage} alt={title}/>
    )}
    <h1 class="title">{title}</h1>
  </a>

  <h2 class="description">{description}</h2>
  <p class="date">Published on {date}</p>
  <p class="author">by {author}</p>
  <p class="author">Draft? {draft}</p>
</li>
