---
const { title, url, date, description, author, tags } = Astro.props;
---

<li>
  <a href={url} class="title">{title}</a>
  <br />

  <p class="description">{description}</p>
  <p class="author">{date}</p>
  <p class="author">{author}</p>

  <br />
  <br />
</li>
